.bookcase {
    .book-case-image {
        // padding: 10px;
        height: 150px;
        width: 15%;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .book-case-content {
        width: 65%;
        .book-case-name {
            font-size: 20px;
            color: 20px;
            margin-bottom: 10px;
        }

        .book-case-author {
            margin:10px 0;
        }


    }
}

.borrow-book {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .button-borrow{
        border: 1px solid #5edfff;
        background-color: #ecfcff;
    }

