.review-modal {
    .ant-modal-content{
        background: #f9f9f9;
    }
    .modal-input {  
        .modal-label {
            margin-bottom: 10px;
            display: block;
        }
    }
    .contact-box {
        background: white;
        margin-top: 10px;
        height: 250px;
        overflow: auto;
        .contact-row {
            padding: 10px;
        }
    }

    .option-book {
        display: flex;
        width: 100%;
    }
}

.review-book-image-container {
    height: 70px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    .review-book-image {
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}