// ORIGINAL
$violet1: #59008A;
$violet2: #75289F;
$violet3: #8900D4;
$violet4: #AB3AEA;
$violet5: #BC69EA;
    
$yellow1: #FFFF00;
$yellow2: #FFFF40;
$yellow3: #FFFF73;
$yellow4: #BFBF30;
$yellow5: #A6A600;

$ping1:#E50082;
$ping2:#F23DA3;
$ping3:#F26DB8;
$ping4:#AC2B74;
$ping5:#950054;

$green1:#A4F600;
$green2:#BCFB3F;
$green3:#CDFB71;
$green4:#8BB92E;
$green5:#6BA000;