.messages {
    display: flex;
    .messages-search{
        width: 30%;
        padding:15px; 
        .messages-chat-box{
            display: flex;
            padding: 10px;
            cursor: pointer;
            .messages-chat-box-content {
                width: 80%;
            }
        }   
        .messages-chat-box:hover {
            background:#e6e6e6;
        }
    }
    .messages-chat{
        width:70%;
        background-color: #F0F2F5;
        margin: 0 0 0 -15px;
        .messages-chat-sender{
            display:flex;
            justify-content: flex-end;
            padding: 10px 35px;
            .messages-chat-sender-content{
                background-color: #F23DA3;
                color: #fff;
                border-radius: 20px;
                font-size: 15px;
                font-family: inherit;
                padding: 5px 7px;
                white-space: normal;
                word-wrap: break-word;
                max-width: 400px;
            }
        }
        .messages-chat-receiver{
            display:flex;
            justify-content: flex-start;
            padding: 10px 35px;
            .messages-chat-sender-content{
                background-color:#FFFF73;
                color: #000;
                margin: 6px 0 6px 10px;
                border-radius: 20px;
                font-size: 15px;
                font-family: inherit;
                padding: 5px 7px;
            }
            .messages-chat-box-content {
                display: flex;
            }
        }
    }
   
}