.app-body {
min-height: 850px;
padding-top: 20px;
}

.app-container {
height: 50px;
background: #3C8DBC;
}

a:hover {
    text-decoration: none !important;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.bg-red {
    background: red;
}