@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}
#root {
  background-color: #3C8DBC;
}

.app-body {
  min-height: 850px;
  margin-top: 20px;
  }
  
.app-container {
height: 50px;
background: #3C8DBC;
}

.col-1p5{
  flex: 0 0 20%;
  max-width: 20%;
}

.col-4p5 {
  flex: 0 0 80%;
  max-width: 80%;
}

