.book-case-image {
    // padding: 10px;
    height: 150px;
    width: 15%;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
.book-case-content {
    width: 65%;
    .book-case-name {
        font-size: 20px;
        color: 20px;
        margin-bottom: 10px;
    }

    .book-case-author {
        margin:10px 0;
    }
}

.ant-divider-horizontal {
    margin: 5px 0 !important;
}

.step-borrow {
    .step{
        cursor: pointer;
    border: 2px solid #e8e8e8;
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 2px;
    border-radius: 15px;
    &:hover {
        font-weight: bolder;
    }
    }
}